<section class="card container">
    <div class="card__latest">
        <div class="card__title">
            <h2>long established</h2>
            <span
                >It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is
                that....
            </span>
            <div class="card__footer">
                <data>May 20th 2020</data>
                <a href="#">Read more</a>
            </div>
        </div>
        <img src="./img/card-image1.jpg" alt="" />
    </div>
    <div class="card__section">
        <div class="card__latest_items">
            <img src="./img/card-image2.jpg" alt="" />
            <div class="card__latest_content">
                <h3>long established</h3>
                <span
                    >It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that....
                </span>
                <div class="card__latest_footer">
                    <data>May 20th 2020</data>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card__latest_items">
            <img src="./img/card-image2.jpg" alt="" />
            <div class="card__latest_content">
                <h3>long established</h3>
                <span
                    >It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that....
                </span>
                <div class="card__latest_footer">
                    <data>May 20th 2020</data>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="card__latest_items">
            <img src="./img/card-image2.jpg" alt="" />
            <div class="card__latest_content">
                <h3>long established</h3>
                <span
                    >It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that....
                </span>
                <div class="card__latest_footer">
                    <data>May 20th 2020</data>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card__section_big">
        <div class="card__big_content">
            <h1>What is Lorem Ipsum?</h1>
            <span
                >It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that
                it has a more-or-less normal distribution...
            </span>
            <div class="card__big_content_more">
                <data>May 20</data>
                <a href="#">Read more</a>
            </div>
        </div>
        <img src="./img/card-image-big1.jpg" alt="" />
    </div>
    <button class="card__btn_more">See more</button>
</section>
