<footer class="footer">
    <div class="footer__content container">
        <div class="footer__copyright">
            <span><b>hotcoffee</b> 2020 copyright all rights reserved</span>
        </div>
        <div class="footer__social_links">
            <svg class="social_icon">
                <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
            <svg class="social_icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
            <svg class="social_icon">
                <use xlink:href="img/sprite.svg#linkedin"></use>
            </svg>
        </div>
    </div>
</footer>