<header class="header">
    <div class="header__container container">
        <a href="index.html">HotCoffee</a>
        <div class="header__search">
            <button class="search__button"></button>
            <input class="header__input" type="text" value="" placeholder="Search...">
        </div>
        <nav class="nav">
            <div class="nav__mobile">
                <svg>
                    <use xlink:href="img/sprite.svg#burger"></use>
                </svg>
            </div>
            <ul class="nav__item">
                <li class="nav__ul"><a class="nav__link" href="index.html">Home</a></li>
                <li class="nav__ul"><a class="nav__link" href="article.html">Articles</a></li>
            </ul>
            <svg class="social_icon">
                <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
            <svg class="social_icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
            <svg class="social_icon">
                <use xlink:href="img/sprite.svg#linkedin"></use>
            </svg>
        </nav>
    </div>
</header>