<div class="header__content">
    <div class="header__item container">
        <div class="header__content_title">
            <h1>Make better coffee</h1>
            <span>why learn how to blog?</span>
        </div>
        <img src="./img/heder-bg.png" alt="" />
    </div>
</div>
