.article{

    & > img{
        display: block;
        margin-top: 42px;
    }

    &__content{
        padding: 35px 110px 58px 89px;

        @media (max-width: 1050px){
            padding: 30px 0;
        }
    }

    &__title{
        padding-bottom: 30px;
        border-bottom: solid $mercury3 1px;

        & > h1{
            font-size: 45px;
            line-height: 54px;
            font-weight: 700;
            color: $oxfordBlue;

            @media (max-width: 450px){
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    &__author{
        display: flex;
        margin-top: 18px;

        & > span{
            display: block;
            margin-right: 20px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: $oxfordBlue;

            @media (max-width: 450px){
                font-size: 16px;
            }
        }

        & > data{
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            color: $slateGray;
        }
    }

    &__text{
        margin-top: 37px;

        & > p{
            display: block;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            color: $slateGray;

            &:not(:first-child){
                margin-top: 18px;
            }
        }

        & > h3{
            display: block;
            margin-top: 18px;
            font-size: 16px;
            font-style: italic;
            line-height: 19px;
            color: $oxfordBlue;
        }

        & > h2{
            display: block;
            margin-top: 18px;
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
            color: $oxfordBlue;

            @media (max-width: 450px){
                font-size: 18px;
            }
        }
    }
}