.card{
    padding-top: 39px;
    padding-bottom: 43px;

    &__latest{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: solid $mercury 1px;
        border-radius: 5px;
        box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.4);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @media (max-width: 778px){
            flex-direction: column-reverse;
        }

        & > img{
            display: block;
            object-fit: cover;
        }

        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 5px 4px rgba(221, 221, 221, 1);
        }
    }

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 53%;
        padding: 41px 77px 43px 52px;

        @media (max-width: 778px){
            width: 100%;
        }

        @media (max-width: 1050px){
            padding: 20px 30px 20px 20px;
        }

        & > h2{
            display: block;
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
            color: $oxfordBlue;

            @media (max-width: 450px){
                font-size: 24px;
            }
        }

        & > span{
            display: block;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            color: $slateGray;
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        & > data{
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            color: $slateGray;
        }

        & > a{
            font-size: 12px;
            line-height: 15px;
            font-weight: 700;
            color: $oxfordBlue;
            transition: color 0.2s ease-in-out;

            &:hover{
                color: $hurricane;
            }
        }
    }

    &__section{
        display: flex;

        @media (max-width: 778px){
            flex-direction: column;
            margin-top: 30px;
        }
    }

    &__latest_items{
        width: 31%;
        margin-top: 43px;
        margin-right: 33px;
        border: solid $mercury 1px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.4);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @media (max-width: 778px){
            width: 100%;
            margin-top: 30px;
            margin-right: 0;
        }

        & > img{
            width: 100%;
            display: block;
            object-fit: cover;
        }

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            box-shadow: 0px 4px 4px rgba(192, 189, 189, 1);
            transform: translateY(-8px);
        }
    }

    &__latest_content{
        padding: 18px 25px 24px 17px;

        & > h3{
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: $oxfordBlue;

            @media (max-width: 450px){
                font-size: 18px;
            }
        }

        & > span{
            width: 95%;
            display: block;
            margin-top: 15px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            color: $slateGray;
        }
    }

    &__latest_footer{
        display: flex;
        justify-content: space-between;
        margin-top: 22px;

        & > data{
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            color: $slateGray;
        }

        & > a{
            display: block;
            font-size: 12px;
            line-height: 15px;
            font-weight: 700;
            color: $oxfordBlue;
            transition: color 0.2s ease-in-out;

            &:hover{
                color: $hurricane;
            }
        }
    }

    &__section_big{
        display: flex;
        margin-top: 43px;
        background-color: $blackSqueeze;

        @media (max-width: 778px){
            flex-direction: column-reverse;
        }
    }

    &__big_content{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding: 98px 69px 118px 63px;

        @media (max-width: 1050px){
            padding: 20px 30px 40px 25px;
        }

        @media (max-width: 778px){
            max-width: 100%;
        }

        & > h1{
            font-size: 40px;
            line-height: 48px;
            font-weight: 700;

            @media (max-width: 450px){
                font-size: 24px;
                line-height: 30px;
            }
        }

        & > span{
            display: block;
            margin-top: 24px;
            font-size: 16px;
            line-height: 19px;
            color: $slateGray;
        }

        &_more{
            display: flex;
            justify-content: space-between;
            margin-top: 31px;

            & > data{
                font-size: 16px;
                line-height: 19px;
                color: $riverBed;
            }

            & > a{
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;
                color: $black;
                transition: color 0.2s ease-in-out;

                &:hover{
                    color: $hurricane;
                }
            }
        }
    }

    &__btn_more{
        display: block;
        margin-left: auto;
        margin-top: 31px;
        padding: 7px 35px 8px 10px;
        position: relative;
        border: none;
        border-radius: 5px;
        background-color: $fuchsiaBlue;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        @media (max-width: 778px){
            margin: 0 auto;
            margin-top: 30px;
        }

        &::after{
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translate(0, -50%);
            background-image: url('../img/arrow-btn.png');
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.2s ease-in-out;
        }

        &:hover{
            background-color: #977cd8;
        }

        &:hover::after{
            transform: rotate(180deg);
            top: 20%;
        }
    }
}