.footer{
    padding: 30px 0;
    border: solid $mercury2 1px;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 550px){
            flex-direction: column-reverse;
        }
    }

    &__copyright{
        font-size: 16px;
        line-height: 19px;

        @media (max-width: 550px){
            margin-top: 30px;
        }
    }

    &__social_links .social_icon{
        display: initial;
    }
}