.header{
    padding-top: 34px;

    &__container{
        display: flex;
        justify-content: space-between;

        & > a{
            height: 100%;
            display: block;
            font-size: 20px;
            line-height: 24px;
            color: $black;
            font-weight: 700;
            transition: color 0.3s ease-in-out;

            &:hover{
                color: $hurricane;
            }

            @media (max-width: 550px){
                margin-right: 30px;
            }
        }
    }

    &__search{
        display: flex;
        margin-left: 210px;

        @media (max-width: 900px){
            margin-left: 110px;
        }

        @media (max-width: 550px){
            margin-left: 0;
        }
    }

    &__input{
        padding-bottom: 2px;
        border: none;

        @media (max-width: 550px){
            width: 100%;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 27px;
        height: 467px;
        background-color: $alabaster;

        @media (max-width: 775px){
            height: initial;
        }
    }

    &__item{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 775px){
            flex-direction: column;
        }

        @media (max-width: 778px){
            
            & > img{
                display: block;
                object-fit: cover;
            }
        }
    }

    &__content_title{

        @media (max-width: 775px){
            margin: 30px 0;
            align-self: center;
        }

        @media (max-width: 600px){
            text-align: center;
        }
    }

    &__content_title > h1{
        background-image: url('../img/cup.png');
        background-repeat: no-repeat;
        background-position: 190px 60px;
        max-width: 370px;
        font-size: 60px;
        line-height: 73px;
        font-weight: 700;

        @media (max-width: 900px){
            font-size: 40px;
            line-height: 73px;
            background-position: 130px 60px;
        }

        @media (max-width: 775px){
            width: calc(100% + 100px);
            max-width: calc(100% + 100px);
            background-position: right -14px;
        }

        @media (max-width: 600px){
            width: 100%;
            max-width: 100%;
            height: 150px;
            background-position: center 55px;
        }

        @media (max-width: 550px){
            font-size: 30px;
        }

        @media (max-width: 450px){
            font-size: 24px;
        }
    }

    &__content_title > span{
        display: block;
        margin-top: 19px;
        font-size: 30px;
        line-height: 36px;
        color: $riverBed;
        font-weight: 400;

        @media (max-width: 900px){
            font-size: 24px;
        }

        @media (max-width: 550px){
            font-size: 20px;
        }

        @media (max-width: 450px){
            font-size: 16px;
        }
    }

    &__content_cup{
        display: block;
        width: 70px;
        height: 67px;
    }
}

.search__button{
    display: block;
    width: 20px;
    height: 23px;
    border: 0;
    margin-right: 11px;
    background: transparent;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: center 3px;
    cursor: pointer;
}

.nav{
    display: flex;

    &__item{
        display: flex;

        @media (max-width: 768px){
            position: fixed;
            right: -100%;
            transition: right 0.3s ease-in-out;
            overflow: auto;
        }

        &_active + .nav__item{
                display: block;
                width: 240px;
                height: 100vh;
                padding: 20px;
                position: fixed;
                background-color: #5f5858;
                top: 0;
                right: 0;
                transition: right 0.3s ease-in-out;

                & .nav__link{
                    color: $white;
                }
        }

        &_active{

            &::before{
                width: 100%;
                height: 100vh;
                content: '';
                display: block;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: black;
                opacity: 0.4;
            }
        }
    }

    &__ul:not(:last-child){
        margin-right: 30px;
    }

    &__ul:last-child{
        margin-right: 28px;
    }

    &__link{
        position: relative;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        font-weight: 400;
        transition: color 0.3s ease-in-out;

        &:hover{
            color: $hurricane;
        }

        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            opacity: 0;
            position: absolute;
            bottom: -2px;
            background-color: $black;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
        }

        &:hover::before{
            opacity: 1;
            transform: scaleX(1);
            background-color: $hurricane;
        }
    }

    &__mobile{
        display: none;

        & > svg{
            display: block;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: fill 0.3s ease-in-out;

            &:hover{
                fill: $hurricane;
            }
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    @media (max-width: 768px){
        
        &__ul:not(:last-child){
            margin-bottom: 20px;
        }
    }
}

.social_icon{
    width: 24px;
    height: 22px;
    cursor: pointer;
    fill: $tundora;
    transition: fill 0.3s ease-in-out;

    @media (max-width: 768px) {
        display: none;
    }

    &:not(:last-child){
        margin-right: 31px;
    }

    &:hover{
        fill: $hurricane;
    }
}