$max-width: 1152px;
$min-width: 319px;
$white: #ffffff;
$black: #000000;
$alabaster: #fbfbfb;
$tundora: #454444;
$hurricane: #918181;
$riverBed: #4a5568;
$mercury: #e2e2e2;
$mercury2: #e8e8e8;
$mercury3: #e8e7e7;
$oxfordBlue: #2d3748;
$slateGray: #718096;
$blackSqueeze: #f7fafc;
$fuchsiaBlue: #6B46C1;
$doveGray: #6a6464;