@import 'vars';
@import 'mixins';
@import 'fonts';

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 0 93px 0 83px;

    @media (max-width: 1050px){
        padding: 0 25px;       
    }

    @media (max-width: 550px){
        padding: 0 18px;       
    }
}

input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}

@import 'header';
@import 'card-latest';
@import 'article';
@import 'footer';
